services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: blitzkeys:0.1.0
    container_name: blitzkeys_app
    ports:
      - "4000:4000"
    env_file:
      - config/docker.env
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    container_name: blitzkeys_postgres
    env_file:
      - config/docker.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  postgres_data:
