SECRET_KEY_BASE=generate_with_mix_phx_gen_secret
DATABASE_HOST=postgres
DATABASE_URL=ecto://postgres:postgres@postgres/blitzkeys_prod
PORT=4000
PHX_HOST=localhost
PHX_SERVER=true
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=blitzkeys_prod
LANG=en_US.UTF-8
